# Using https://github.com/tox-dev/azure-pipelines-template
# and learned from https://github.com/wasp/waspy/blob/master/azure-pipelines.yml

---
name: $(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.rr)
resources:
  repositories:
    - repository: tox
      type: github
      endpoint: github
      name: tox-dev/azure-pipelines-template

trigger:
  batch: true
  branches:
    include:
      - '*'
  paths:
    include:
      - cyberbrain/*
      - cyberbrain-vsc/*
      - test/*
      - azure-pipelines.yml

pr:
  branches:
    include:
      - '*'
  paths:
    # Ideally we should trigger different checks based on modified sources.
    # For example, ignore Python tests if only js files are modified.
    # There's a hacky way: https://stackoverflow.com/a/59608109/2142577
    # Unless Azure pipelines provide a builtin way, I think it's not worth it.
    include:
      - cyberbrain/*
      - cyberbrain-vsc/*
      - test/*
      - azure-pipelines.yml

variables:
  PYTEST_ADDOPTS: "-v -v -ra --showlocals"
  PYTEST_XDIST_PROC_NR: 'auto'
  CI_RUN: 'yes'

jobs:
  - template: run-tox-env.yml@tox
    parameters:
      jobs:
        py37:
          image: [linux, windows, macOs]
        py38:
          image: [linux, windows, macOs]
        py39:
          image: [linux, windows, macOs]

  - job: ts_js_lint
    steps:
      - template: templates/npm-steps.yml
      - task: Npm@1
        inputs:
          command: custom
          customCommand: 'run lint'
          workingDir: 'cyberbrain-vsc'
        displayName: Run Lint

  - job: js_tests
    steps:
      - template: templates/npm-steps.yml
      - task: Npm@1
        inputs:
          command: custom
          customCommand: 'run unittest'
          workingDir: 'cyberbrain-vsc'
        displayName: Run Unit Tests

  - job: vscode_tests
    # See https://github.com/laike9m/Cyberbrain/issues/20 for details.
    steps:
      # UsePythonVersion is necessary to let Azure pipelines recognize the call
      # to "python", and use the correct Python version.
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.9'
      - script: |
          python -m pip install pdm
          pdm install
      - bash: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"
        displayName: Start xvfb
        condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))
      - bash: tree -d . -I 'node_modules|cache|test_*'
      - template: templates/npm-steps.yml
      - task: Npm@1
        inputs:
          command: custom
          customCommand: 'run compile'
          workingDir: 'cyberbrain-vsc'
        displayName: NPM compile
      - task: Npm@1
        inputs:
          command: custom
          customCommand: 'run test'
          workingDir: 'cyberbrain-vsc'
        displayName: VSCode Integration tests
        env:
          DISPLAY: ':99.0'

  - job: python_lint
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.9'
      - script: python3.9 -m pip install black
      - script: black --check cyberbrain test
