[tool.poetry]
name = "cyberbrain"
version = "0.0.7"
authors = ["laike9m <laike9m@gmail.com>"]
homepage = "https://github.com/laike9m/Cyberbrain"
repository = "https://github.com/laike9m/Cyberbrain"
description = "Python debugging, redefined."
license = "MIT"
readme = "README.md"
keywords = ["debugging", "debugger", "visualization"]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = ">=3.7.0, <3.9.0"
pygments = "^2.6.1"
crayons = "^0.3.0"
grpcio = "^1.30.0"
protobuf = "^3.12.2"
shortuuid = "^1.0.1"
attrs = "^19.3.0"
get-port = "^0.0.5"
jsonpickle = "^1.4.1"
typing-extensions = "^3.7.4"
more-itertools = "^8.5.0"
cheap_repr = "^0.4.2"

[tool.poetry.dev-dependencies]
tox = "^3.14"
tox-pyenv = "^1.1"
pytest-xdist = "^1.31"
pytest = "^6.0.1"
pyhamcrest = "^2.0.2"
dephell = "^0.8.3"
bytecode = "^0.11.0"
grpcio-tools = "^1.30.0"
fire = "^0.3.1"
emoji = "^0.6.0"

[tool.pylint.messages_control]
disable = """
bad-continuation,attribute-defined-outside-init,W0511,R0902,R0913,W0622,C0116,C0103,
R0903,W0631,W0212,W0603,R1710,R0201
"""

# https://github.com/python-poetry/poetry/issues/761#issuecomment-521124268
[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[tool.pytest.ini_options]
testpaths = [ # Used to speed up test discovery.
    "test",
]
# Not entirely sure if this is useful, but there's no harm adding it.
norecursedirs = ["cyberbrain-vsc*", ".vscode", "*.egg"]

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

